/* Global values */

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --vert: #4A7C59;
    --vert-pale: #EAF2EC;
    --orange: #E8A15D;
    --peche: #F8E4CE;
    --creme: #FAF7F2;
    --blanc: #FFFFFF;
    --anthracite: #2D2D2D;
    --bordure: #E8E1D8;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--creme);
}


/* NAVIGATION */

nav{
    width: 100%;
    padding: 20px 5%;
    background-color: var(--vert);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);  
    display:flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top: 0;
    font-family: "Poppins", sans-serif;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: var(--creme);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo span{
    color: var(--orange);
}

.logo:hover{
    transform: scale(1.05);
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links li a{
    display: inline-block;
    color: var(--creme);
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-links li a:hover{
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    transform: scale(1.02);
}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger span{
    width: 100%;
    height: 4px;
    background-color: var(--creme);
    border-radius: 3px;
}

/* Responsive */

@media (max-width:850px){
    .nav-links{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}


@media (max-width:500px){

    nav{
        padding: 15px 10%;
    }
    .logo{
        font-size: 20px;
    }

    .hamburger{
        width: 28px;
    }

}
